.container {
    max-width: 1500px;
}
        body {
    background: url('../img/f4.jpg') no-repeat center;
    background-size: cover;
    font-family: sans-serif;
  }
        .form {
    position: relative; 
     width: 100%; 
    padding: 80px 40px 80px 40px;
    background: rgba(0,0,0,0.7);
    /*background: rgba(235, 232, 232, 0.7);*/
    border-radius: 10px;
    /*color: #fff;*/
    color: rgb(0, 0, 0);
    margin-top:60px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  }
  .form::before {
    
    content:'';
    position: absolute;
    
    top: 0;
    left: 0;
    /*background: rgba(255,255,255, 0.08);*/
    background: rgba(252, 247, 247, 0.08);

    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
  }
    .card-header{
        color:rgb(0, 0, 0);
    }

    h1 {
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 2rem;
        font-size: 60px;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: bold;
        /* margin-top: 2rem; */
      }

      table{
        text-align: center;
        letter-spacing: 1px;
        font-size: 30px;
        font-family: 'Open Sans Condensed', sans-serif; 

      }
      .card-footer{
        text-align: right;
  
      }

      